@use "../../scss/" as *;
.css-1c99szj-MuiRating-icon {
  color: $whcolor !important;
}

.submitDialog {
  display: flex;
  flex-direction: column;
}
.submitDialogTextArea {
  border: 1px solid rgba(0, 0, 0, 0.082);
  margin: 1vmax 0;
  outline: none;
  padding: 1rem;
  font: 300 1rem "Roboto";
}

.productCard {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: $whcolor;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
  align-items: center;
  display: flex;
  margin-bottom: 2vmin;
  transition: all 0.4s;
}

.productCard > img {
  width: 100%;
  height: 30vh;  
  background: rgba(3, 45, 51, 0.452);
  object-fit: cover;
  // height: 120vw;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  // justify-content: flex-start;
  align-items: center;
  font-size: 1.3vmin;
  font-family: $font-family;
}

.productCard > p {
  font-family: $font-family;
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
  font-size: 2vmin;
  font-family: $font-family;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: $whcolor;
}

.productCard > span {
  margin: 0.5vmax;
  color: #03a9f4;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2.5vmin;
  font-family: $font-family;
}

.productCard:hover {
  box-shadow: 0 0 5px rgba(242, 242, 242, 0.26);
  transform: scale(1.03);
}

@include mobile {
  .productCard > p {
    font-size: 1.7vmax;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}

// product details

#navvisiback {
  height: 14vh;
  background-color: rgb(0, 0, 0);
}
#freespace {
  background-color: $black;
  height: 5vh;
}

#productdetails {
  display: flex;
  background-color: $black;

  #productdetcard {
    display: flex;
    width: 80vw;
    margin: auto;

    #firstcol {
      display: flex;
      flex-direction: column;
      img {
        width: 5.5vw;
        margin: 0 7vw 2vw 0;
        transition: 0.2s all;
        &:hover {
          cursor: crosshair;
          transform: scale(1.1);
        }
      }
    }

    #secondcol {
      img {
        width: 25vw;
        height: 70vh;
        object-fit: contain;
        background: rgba(0, 127, 177, 0.171);
        &:hover {
          cursor: crosshair;
        }
      }

      .fullscreen-overlay {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.432);
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 12 ;

        img {
          width: fit-content;
          height: 55vh;
          object-fit: contain;
          background: none;
          padding: 0.3vw;
          border: 1px solid rgb(63, 63, 63);
        }
      }
    }
  }

  #thirdcol {
    margin: 0 0 0 10vw;

    h2 {
      font-family: $font-family;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 4vmin;
      margin: 2vmin 0;
      color: $whcolor;
    }
    p {
      font-family: $font-family;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 2vmin;
      margin: 2vmin 0;
      color: $whcolor;
    }

    #reviewsp {
      font-family: $font-family;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1.5vmin;
      margin: 2vmin 0;
      color: $whcolor;
    }

    #quant {
      font-family: $font-family;
      color: $whcolor;
      margin: 2vmin 0;
    }

    h1 {
      font-family: $font-family;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 4vmin;
      margin: 2vmin 0;
      color: $whcolor;
    }

    div {
      button {
        background-color: transparent;
        padding: 15px 20px;
        cursor: pointer;
        transition: all 0.5s;
        border: 1px solid rgba(215, 215, 215, 0.4);
        color: $whcolor;
      }

      input {
        background-color: transparent;
        width: 5vmin;
        padding: 15px 0px;
        text-align: center;
        border: 1px solid rgba(215, 215, 215, 0.4);
        color: $whcolor;

        &::placeholder {
          text-align: center;
        }
      }
    }
    #addtoca {
      margin: 2vmin 0;
      width: 20vw;
      background-color: transparent;
      cursor: pointer;
      height: 5vh;
      display: flex;
      justify-content: center;

      font-family: $font-family;
      align-items: center;
      background: transparent;
      font-size: 1.4vmin;
      letter-spacing: 0.2em;
      line-height: 3.7rem;
      padding: 0px 28px;
      border: 1px solid rgba(216, 216, 216, 0.4);
      transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
      position: relative;
      z-index: 1;
      color: $whcolor;
      &:after {
        content: "";
        position: absolute;
        transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }

      &:after {
        width: 0;
        height: 100%;
        background: $main-color;
        top: 0;
        left: 0;
        z-index: -1;
        transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }
      &:hover {
        color: black;
        border: 1px solid rgba(215, 215, 215, 0.4);
        &:after {
          width: 100%;
        }
      }
    }

    #dessec {
      font-family: Futura, sans-serif;
      font-weight: 100;
      font-size: 2vmin;
      margin: 2vmin 0;
      color: $whcolor;

      p {
        font-family: $font-family3;
        font-weight: 100;
        text-transform: capitalize;
        width: 20vw;
        font-size: 1.8vmin;
      }
    }
  }

  img {
    width: 25vw;
  }
}

@keyframes upward-text {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Review card css
.reviews {
  background-color: $black;
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.reviewCard {
  margin: 2vmin;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2vmin;
  border: 1px solid rgb(0, 108, 117);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    transform: scale(0.98);
  }

  #firstdivca {
    display: flex;
    align-items: center;
    #revcardimg {
      width: 5vw;
      height: 5vw;
      border-radius: 50px;
      margin: 0 2vmin;
    }

    .namerev {
      font-size: 2vmin;
      text-align: center;
      font-family: $font-family;
      font-weight: 300;
      text-transform: capitalize;
      margin: 0 2vmin;
      color: $whcolor;
    }
  }
  .reviewCardComment {
    font-size: 1.7vmin;
    font-family: $font-family3;
    font-weight: 600;
    padding: 2vmin;
    color: $whcolor;
  }
}

.noReviews {
  text-align: center;
  margin: 2vmax 0 0 0;
  font-size: 3vmin;
  text-transform: uppercase;
  font-family: $font-family;
  font-weight: 300;
  border-top: 1px solid #03a9f4;
  border-bottom: 1px solid #03a9f4;
  padding: 4vmin;
  color: $whcolor;
  margin: 5vmin 0;
}
